<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My Portfolio{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- AOS(Animate On Scroll) -->
    <link href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css" rel="stylesheet">
</head>
<body class="bg-gray-900 text-white font-sans scroll-smooth">

    <header class="p-4 bg-gray-800 shadow-md">
        <nav class="max-w-6xl mx-auto flex justify-end items-center">
            <ul class="flex gap-4">
                <li><a href="/" class="hover:text-teal-300">// Home</a></li>
                <li><a href="#about-me" class="hover:text-teal-300">// About Me</a></li>
                <li><a href="#projects" class="hover:text-teal-300">// Projects</a></li>
                <li><a href="#contact" class="hover:text-teal-300">// Contact</a></li>
            </ul>
        </nav>
    </header>

    <main class="mx-auto p-6">
        {% block content %}{% endblock %}
    </main>

    <footer class="text-center py-4 text-sm text-gray-400">
        © {{ now.year }} Anthony Ueta Vecchia. All rights reserved.
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
    <script>
    AOS.init({
        duration: 1000,
        once: true,
    });
    </script>

</body>
</html>