{% extends 'partials/_base.html' %}
{% block title %}Início | Meu Portfólio{% endblock %}

{% block content %}
  <!-- Hero Section -->
  <section class="h-[calc(100vh-5rem)] flex flex-col justify-between px-4 md:px-32 xl:px-64 pb-32 bg-gray-900">
    <div class="container mx-auto max-w-screen-xl px-4 md:px-8 flex flex-col justify-between h-full py-16">
      <!-- Presentation -->
      <div class="size-full flex justify-center items-center">
        <div>
          <h1 class="text-start text-5xl font-bold text-teal-400 md:pr-16 text-wrap balance">Anthony Ueta Vecchia</h1>
          <h2 class="text-end text-4xl text-gray-300 mt-2 text-wrap balance">Python Developer</h2>
        </div>
      </div>
      <!-- Technologies -->
      <div class="mt-12">
        <h3 class="text-2xl font-semibold text-teal-300 mb-4">Technologies that I use</h3>
        <ul class="flex flex-wrap gap-4 text-gray-300">
          <li class="bg-gray-800 px-3 py-1 rounded">Python</li>
          <li class="bg-gray-800 px-3 py-1 rounded">Django</li>
          <li class="bg-gray-800 px-3 py-1 rounded">Django REST</li>
          <li class="bg-gray-800 px-3 py-1 rounded">SQL</li>
          <li class="bg-gray-800 px-3 py-1 rounded">HTML/CSS</li>
          <li class="bg-gray-800 px-3 py-1 rounded">Tailwind</li>
        </ul>
      </div>
    </div>
  </section>

  <!-- About Me -->
  <section id="about-me" class="py-16 px-4 sm:px-8 md:px-16 lg:px-32 bg-gray-900">
    <div class="max-w-4xl mx-auto text-center">
      <h2 class="text-2xl sm:text-3xl font-bold text-teal-400 mb-6">About me</h2>
      <p class="text-gray-300 text-base sm:text-lg leading-relaxed">
        I am a developer in training with a focus on Python and Django. I have a technical background in Systems Analysis and Development,
        and I have been specializing in web development, REST APIs, and good practices for clean and reusable code.
        I am always looking for new challenges and constant learning.
      </p>
    </div>
  </section>

  <!-- Featured Projects -->
  <section id="projects" class="py-16 px-4 sm:px-8 md:px-16 lg:px-32 bg-gray-900">
    <div class="max-w-6xl mx-auto text-center">
      <h2 class="text-2xl sm:text-3xl font-bold text-teal-400 mb-6">Featured Projects</h2>
      <p class="text-gray-400 text-base sm:text-lg mb-10">
        Soon, you will be able to check out some of my main projects using Python and Django here.
      </p>
      
      <!-- Cards de projetos serão inseridos aqui depois -->
      <div id="contact" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
        <!-- Exemplo de card de projeto -->
        <!-- <div class="bg-gray-800 p-6 rounded-lg shadow-lg">
          <h3 class="text-xl font-semibold text-white mb-2">Nome do Projeto</h3>
          <p class="text-gray-400 text-sm mb-4">Descrição curta do projeto.</p>
          <a href="#" class="text-teal-400 hover:underline">Ver mais</a>
        </div> -->
      </div>
    </div>
  </section>

{% endblock %}