{% extends 'partials/_base.html' %}
{% block title %}Início | Meu Portfólio{% endblock %}

{% block content %}
  <!-- Hero Section -->
  <section class="h-[calc(100vh-5rem)] flex flex-col justify-between px-4 md:px-32 xl:px-64 pb-32 bg-gray-900">
    <div class="container mx-auto max-w-screen-xl px-4 md:px-8 flex flex-col justify-between h-full py-16">
      <!-- Presentation -->
      <div class="size-full flex justify-center items-center">
        <div>
          <h1 class="text-start text-5xl font-bold text-teal-400 md:pr-16">Anthony Ueta Vecchia</h1>
          <h2 class="text-end text-4xl text-gray-300 mt-2">Desenvolvedor Python</h2>
        </div>
      </div>
      <!-- Technologies -->
      <div class="mt-12">
        <h3 class="text-2xl font-semibold text-teal-300 mb-4">Tecnologias que utilizo</h3>
        <ul class="flex flex-wrap gap-4 text-gray-300">
          <li class="bg-gray-800 px-3 py-1 rounded">Python</li>
          <li class="bg-gray-800 px-3 py-1 rounded">Django</li>
          <li class="bg-gray-800 px-3 py-1 rounded">Django REST</li>
          <li class="bg-gray-800 px-3 py-1 rounded">SQL</li>
          <li class="bg-gray-800 px-3 py-1 rounded">HTML/CSS</li>
          <li class="bg-gray-800 px-3 py-1 rounded">Tailwind</li>
        </ul>
      </div>
    </div>
  </section>

{% endblock %}